<div class="row">
  <div class="span3">
  <h1>Topics</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Topic name</th>
        </tr>
      </thead>
      <tbody>
        {{#each topic in topics}}
          <tr>
            <td><a {{ bindAttr href="topic.url" }}>{{ topic.name }}</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="span6 tabbable">
    {{ outlet detail }}
  </div>
</div>